<clr-main-container>
    <header *ngIf="user" class="header-6">
        <div class="branding">
            <a href="/" class="nav-link">
                <clr-icon shape="vm-bug"></clr-icon>
                <span class="title">VMWare</span>
            </a>
        </div>
        <div class="header-actions">
            <clr-dropdown>
                <button class="nav-text" clrDropdownTrigger>
                    {{ user.username }}
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a (click)="logout()" clrDropdownItem>Log out</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </header>

    <section class="container">
        <router-outlet></router-outlet>
    </section>
</clr-main-container>